version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: icloud_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: matkhau
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=matkhau
      - DB_DATABASE=icloud_db
      - SECRET_KEY=your-secret-key
      - PORT=8080
    depends_on:
      - postgres

  frontend:
    build: ./ecommerce-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data: